li {
  list-style-type: none;
}

mat-form-field,
textarea {
  width: 100%;
}

form button {
  margin-top: 16px;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 100px;
  margin: 10px;
}

.image-preview img {
  height: 100%;
}
